# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
env/
venv/
.venv/

# Django
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
media/
staticfiles/
*.log
*.mo

# Docker
*.env
*.dockerignore
*.pid
docker-compose.override.yml
Dockerfile

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Mac system files
.DS_Store
